services:
  gateway:
    container_name: gateway
    build:
      context: .
      dockerfile: deployment/docker/gateway_dockerfile
    ports:
      - "8080:8080"
    env_file:
      - .env.docker
    networks:
      - app-network

  iam:
    container_name: iam
    build:
      context: .
      dockerfile: deployment/docker/iam_dockerfile
    ports:
      - "8081:8081"
    env_file:
      - .env.docker
    networks:
      - app-network
    depends_on:
        - keycloak

  keycloak:
      container_name: keycloak
      build:
        context: ./deployment/docker
        dockerfile: keycloak_dockerfile
      command: ["start"]
      ports:
        - "9000:9000"
      env_file:
        - .env.docker
      volumes:
        - keycloak_data:/opt/keycloak/data
      depends_on:
        - postgres
      networks:
        - app-network

  postgres:
    container_name: postgresP
    image: postgres:17.2
    ports:
      - "5432:5432"
    env_file:
      - .env.docker
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:8.14
    ports:
      - "5050:80"
    env_file:
      - .env.docker
    volumes:
      - ./deployment/pgadmin_server.json:/pgadmin4/servers.json
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
  keycloak_data:
